#########################
##  Unreal Escape Room ##
#########################
*/Build/
*/Binaries/
*/DerivedDataCache/
*/Intermediate/
*/Saved/
EscapeRoom/Content/StarterContent/

*.VC.db
*.VC.VC.opendb